<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>About Us</h1>
</header>
<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('contacts') }}">Contacts</a>
</nav>
<div class="container">
    <h2>What is this?</h2>
    <p>This is the about homepage of the web application that is built using html and css as a frontend and Flask as a backend web development framework.</p>
</div>
</body>
</html>
